<!DOCTYPE html>
<html>

<head>
    <title>GitHub Events</title>
</head>
<style>
  body {
    font-family: Arial, sans-serif;
  }
  ul {
    padding-left: 20px;
  }
  li {
    margin-bottom: 12px;  
    line-height: 1.6;      
  }
</style>

<body>
    <h2>Latest GitHub Events</h2>
    <ul id="events"></ul>

    <script>
        function loadEvents() {
            fetch("/events")
                .then(res => res.json())
                .then(data => {
                    const list = document.getElementById("events");
                    list.innerHTML = "";

                    data.events.forEach(e => {
                        const li = document.createElement("li");
                        li.innerText = `${e.author} pushed to ${e.to_branch} on ${e.timestamp}  (rendered at ${new Date().toLocaleTimeString()})`;
                        list.appendChild(li);
                    });
                });
        }

        loadEvents();
        setInterval(loadEvents, 15000);
    </script>
</body>

</html>